.Dropzone{
  width: 100%;
  border: 2px dotted #2f2d2d;
  padding: 5px 15px;
  cursor: pointer;
  background: #f5efefeb;
  min-height: 70px;
  text-align: center;
}

.Dropzone img{
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.Dropzone p.label{
  line-height: 70px;
  margin-bottom: 0;
  color: #000;
}
.fileResult{
  width: 100%;
  border: 1px solid #e5e5e5;
  margin-top: 15px;
}

.fileResult .dz-preview.dz-processing.dz-success{
  width: 25%;
  float: left;
  text-align: center;
}

.fileResult .dz-preview.dz-processing.dz-success img{
  width: 70px;
  height: 70px;
  border-radius: 20px;
}